{% extends "django_messages/base.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "View Message" %}</h1>

<dl class="message-headers dl-horizontal">
    <dt>{% trans "Subject" %}</dt>
    <dd class="lead">{{ message.subject }}</dd>
    <dt>{% trans "Sender" %}</dt>
    <dd>{{ message.sender }}</dd>
    <dt>{% trans "Date" %} </dt>
    <dd>{{ message.sent_at|date:_("DATETIME_FORMAT")}}</dd>
    <dt>{% trans "Recipient" %}</dt>
    <dd>{{ message.recipient }}</dd>
</dl>

<blockquote>
	<p>{{ message.body|linebreaksbr }}</p>
</blockquote>

<p>
{% ifequal message.recipient.pk user.pk %}
<a href="{% url 'messages_reply' message.id %}" class="btn btn-default">
	<i class="glyphicon glyphicon-share-alt"></i>
	{% trans "Reply" %}</a>
{% endifequal %}
<a href="{% url 'messages_delete' message.id %}" class="btn btn-default">
	<i class="glyphicon glyphicon-trash"></i>
	{% trans "Delete" %}</a>
</p>

{% if reply_form %}
<h2>{% trans "Compose reply"%}</h2>
<form action="{% url 'messages_reply' message.id %}" method="post">
{% csrf_token %}
<ul>
{{ reply_form.as_ul }}
</ul>
<button type="submit" class="btn btn-success btn-lg">
	<i class="glyphicon glyphicon-send"></i>
	{% trans "Send" %}</button>
</form>
{% endif %}

{% endblock %}